:root {
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    --clr-dark-blue: hsl(234, 12%, 34%);
    --clr-grayish-blue: hsl(229, 6%, 66%);
    --clr-light-gray: hsl(0, 0%, 98%);

    --ff-base: "Poppins";

    --fw-thin: 200;
    --fw-regular: 400;
    --fw-bold: 600;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: var(--ff-base);
    color: var(--clr-grayish-blue);
    font-size: 0.9375rem;
    font-weight: var(--fw-regular);

    line-height: 1.7;
}

.title {
    font-weight: var(--fw-thin);
    line-height: 1.4;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

@media (min-width: 500px) {
    .title {
        font-size: 2.5rem;
    }
}

.title-bold {
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
    margin-bottom: 1rem;
}

.card__title {
    font-size: 1.4rem;
    font-weight: var(--fw-bold);
    color: var(--clr-dark-blue);
    margin-bottom: 0.4rem;
}

.wrapper {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
}

.wrapper--narrow {
    max-width: 550px;
}

header {
    text-align: center;
    margin-block: 6rem;
}

.card-wrapper {
    display: grid;
    gap: 2rem;
}

/* Method 1 before i know about grid-template-areas
.card-wrapper__column {
    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
}
*/
@media (min-width: 700px) and (max-width: 1124px) {
    .wrapper {
        max-width: 800px;
    }

    .card-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1125px) {
    .card-wrapper {
        grid-auto-columns: 1fr;
        /* Method 1 before i know about grid-template-areas
        grid-template-columns: repeat(3, 1fr); 
        */
        grid-template-areas:
            ". two ."
            "one two four"
            "one three four"
            ". three .";
    }

    .card:nth-child(1) {
        grid-area: one;
    }

    .card:nth-child(2) {
        grid-area: two;
    }

    .card:nth-child(3) {
        grid-area: three;
    }

    .card:nth-child(4) {
        grid-area: four;
    }
}

.card {
    border: 1px solid var(--clr-light-gray);
    padding: 1.5rem;

    border-radius: 0.3125rem;
    border-top: 0.3125rem solid;
    box-shadow: 0 7px 18px rgba(97, 98, 158, 0.3);
}

.card img {
    display: block;
    margin-left: auto;
    margin-top: 3rem;
}

.card--cyan {
    border-top-color: var(--clr-cyan);
}

.card--red {
    border-top-color: var(--clr-red);
}

.card--orange {
    border-top-color: var(--clr-orange);
}

.card--blue {
    border-top-color: var(--clr-blue);
}

.attribution {
    font-size: 11px;
    text-align: center;

    position: sticky;
    margin-top: 6rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}